<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>
  
  <title>CandyShop - Home</title>
</head>


<body>
  <!--include HEADER-->
  <%- include('partials/header') %>
  
  <!--include CAROUSEL-->
  <%- include('partials/carousel') %>
  
  
  
  
  <!-- MUESTRA DE LOS PRODUCTOS -->
  <section class="productosDestacados container">
    <div class="row">
      <div class="productosDestacadostit col-12">
        <h1 class="titularProductsBest"> Productos mas vendidos!!!</h1>
      </div>
      <% for (product of losProductos) { 
        let getDiscountPercentage = discount => (100 - discount) / 100;
        let originalPrice = (product.price).toFixed(0); 
        let finalPrice = (product.price * getDiscountPercentage(product.offer_discount)).toFixed(0); 
        %>
        <div class="col-12 col-sm-6 col-lg-3">
          <article class="elProducto">
            <a href="/products/<%= `${product.id}` %>">
              
              <div class="imagenProducto">
                <%let displayDiscount = product.offer_discount <= 0 ? 'd-none' : '';%>
                <h6 class="<%=displayDiscount%>"><%= product.offer_discount %>% OFF</h6>
                <img src="/images/uploads/productDetail/<%= product.image %>                   
                " alt="imagen de producto <%= product.name %>">
              </div>
              
              <div class="infoProducto">
                <h5><%= product.name %></h5>
                <p> <%= product.detail %></p>  
                <p class="precioSinDescuento <%=displayDiscount%>"><%= milesGenerator (originalPrice) %> $</p>
                <b><%= milesGenerator (finalPrice) %> $</b>
                <a class="carrito" href="/sales/purchase"><i class="fas fa-shopping-cart"></i></a>
                <h1></h1>
              </div>
            </a>
            
          </article>
        </div>
        <% } %>
      </div>
    </section>
    
    <!--Include footer -->
    <%- include('partials/footer') %>
    
    <!-- Include End Body Scripts -->
    <%- include('partials/_endBodyScripts') %>

    <script>Swal.fire({
  title: '<a href="https://www.instagram.com/candyshop.ar" target="_blank"><img src="http://www.consek.com.ar/candyShop/qrInstagram.png" width="300px" alt="Instagram"></a>',
  html: '<strong>Seguinos en instagram! ❤ </strong>',
  showClass: {
    popup: 'animate__animated animate__fadeInDown'
  },
  hideClass: {
    popup: 'animate__animated animate__fadeOutUp'
  }
})</script>
  </body>
  </html>