<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>
  
  <title>CandyShop - Home</title>
</head>


<body>


  <!--include HEADER-->
  <%- include('partials/header') %>
  
  <!--include CAROUSEL-->
  <%- include('partials/carousel') %>
  
  
  <h1 class="titularProductsBest"> Productos mas vendidos!!!</h1>
  
  <section class="productosDestacados container">
    <div class="row">
      
      
      <article class="col-3">
        <a href="/products/1"> <img src="/images/productsBest/img-01.jpg" alt="Destacado 1"></a>
        <div>
          <h6>**Titulo Producto**</h6>
          <p> Detalle Producto </p>
          <p>$ 0.00</p>
          <a class="carrito" href="/purchase"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </article>
      
      
    </div>
  </section>
  
  <!--Include footer -->
  <%- include('partials/footer') %>
  
  <!-- Include End Body Scripts -->
  <%- include('partials/_endBodyScripts') %>
</body>
</html>