<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>

    <title>CandyShop - Login Usuario</title>
</head>
<body>
      <!--include HEADER-->
  <%- include('partials/header') %>
  
  <!--include Nav Bar 2-->
  <%- include('partials/navBar2') %>


  <div class="container cajaInicioSesion">
    <h1 class="text-center">Hubo un error al querer loguearte! </h1>
    <h4 class="text-center">Volvé a ingresar tu usuario registrado y la contraseña correspondiente</h4>
    </a>
  </div>

    <!--Include footer -->
  <%- include('partials/footer') %>
  
  <!-- Include End Body Scripts -->
  <%- include('partials/_endBodyScripts') %>
</body>
</html>