<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>
  
  <title>CandyShop - Login Usuario</title>
</head>
<body>
  <!--include HEADER-->
  <%- include('partials/header') %>
  
  <div class="bienvenida"></div>
  
  
  <div class="containerLogin">
    <div class="cajaInicioSesion">
      <h1 class="mb-5 tituloInicioSesion">Inicio de Sesión</h1>
      <form action="" method="post" id='elFormularioLogin'>
        <div class="form-group">
          <label for="email">Email
            <input type="email" value="<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>" name="email" class="form-control" id="email" aria-describedby="emailHelp">
          </label>
          <small class="text-danger" id="email"><%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : '' %></small>
          <a href="/users/register"><%= (typeof errors != 'undefined' && errors.email && errors.email.msg == 'Este mail no se encuentra registrado!') ? 'Registrate !' : '' %></a>
        </div>
        <div class="form-group">
          <label for="password">Password
            <input type="password" name="password" class="form-control" id="password">
            <span id="eye"></span>
          </label>
          <small class="text-danger" id="password"><%= (typeof errors != 'undefined' && errors.password) ? errors.password.msg : '' %></small>
        </div>
        <div class="form-check">
          <input name="remember" type="checkbox" class="form-check-input" id="remember">
          <label class="form-check-label" for="remember">Mantener sesion iniciada</label>
        </div>
        <!-- <a href="/main">  -->
          <button type="submit" id="loginButton" class="btn btn-primary">Ingresar</button>
          <!-- </a> -->
        </form>
        <h6 class="nuevoRegistrate">
          ¿No tenés cuenta?
          <a href="./register">REGISTRATE</a>
        </h6>
        
      </div>
    </div>
    
    <!--Include footer -->
    <%- include('partials/footer') %>
    
    <!-- Include End Body Scripts -->
    <%- include('partials/_endBodyScripts') %>
    <script src="/js/validationLogin.js"></script>
    
    <%if (typeof suspended != 'undefined') {%>
      <script> Swal.fire({
        icon: 'error',
        title: 'La cuenta se encuentra suspendida.',
        text: 'Por favor contactate con la administración!',
        footer: '<a href="https://wa.me/5491130197729?text=Solicito%20ayuda%20con%20mi%20cuenta%20suspendida" target="_blank"><i class="fab fa-whatsapp"></i> Envianos un whatsapp</a>'
      })</script>
        <%}%>
        

         <!--<%//if (typeof mailRegistrado == 'string') {%>
            <% //console.log (mailRegistrado) %>
            <script>
              Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'La cuenta creo correctamente.',
                text: 'Por favor inicia sesion con los datos registrados.',
                showConfirmButton: false,
                timer: 1500
              })
            </script>
<%//} else {%>
no encontre nada
          <%//}%> -->
            </body>
            </html>