<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>
  
  <title>CandyShop - Detalle Producto</title>
</head>


<body>
  <!--include HEADER-->
  <%- include('partials/header') %>
  <!--/ include HEADER-->
  
  <!--include Nav Bar 2-->
  <%- include('partials/navBar2') %>
  <!--/ include Nav Bar 2-->
  
  <section class="detalleProducto container">
    <div class="rowPrimary row">
      <article class="col-4 contenedorFotoDetalleProducto">
        <img class="col-12 fotoDetalleProducto" src="/images/uploads/productDetail/<%= productFind.imgProducto %>" alt="Foto del producto: <%= productFind.nombre %>">   
      </article>
      
      <article class="col-6 container productoDetallado">
        
        <div class="col-12">
          <h2 class="tituloDetalleProducto"><%= productFind.nombre %></h2>
          <p> Variantes Producto </p>
          <p> <input type="radio" name="valor" value="Y" checked> <label for=""> Por unidad</label> <input type="radio" name="valor" value="Y" checked> <label for=""> Por mayor</label>  </p> 
          <p>$ 0.00</p>
        </div>
        <div class="col-12 row container">
          <div class="col-4 row precioCantidadTotal">
            <div class="col-4">
              <h4>Precio: <%= productFind.precioMinorista %></h4>
            </div>
            <div class="col-4">
              <h5 class="col-12 col-sm-6 col-lg-4">Cantidad: </h5>
            </div>
            <div class="col-4">
              <h5>Total:</h5>
            </div>
          </div>
          <div class="col-12">
            <a href="/sales/purchase"> <button type="button" class="btn btn-success botonAñadirCarrito" >Añadir al carrito</button>
            </a>
          </div>
        </div>
        <
      </article>    
      
      
      
    </div>
    <div class="descripcionDetallada"> <b>Descripcion detallada: </b> <%= productFind.detalle %>
    </div>
    
  </section>
  
  
  
  
  
  
  
  
  
  <!--Include footer -->
  <%- include('partials/footer') %>
  <!--/ Include footer -->
  
  <!-- Include End Body Scripts -->
  <%- include('partials/_endBodyScripts') %>
  <!-- /Include End Body Scripts -->
  
</body>
</html>