<!DOCTYPE html>
<html lang="es">

<head> 
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>
  
  <title>CandyShop - Carrito de Compras</title>
</head>

<body>
  <!--include HEADER-->
  <%- include('partials/header') %> 
  
  <div class="container">
    <section class="container carrito">
      <div class="container row">
        
        <h1 class="col-12 tituloCarrito container">Tu compra!</h1>

        <!-- DETALLE CAMPOS MENU CARRITO
          <article class="col-12 row detailBar">
            <small class="col-2"></small>
            <div class="container-fluid row col-10">
              <h5 class="col-5">DETALLE</h5>
              <p class="col-2 cantidad"> CANTIDAD </p>
              <p class="col-3 precio">PRECIO</p>
              <small class="col-2"></small>
            </div>
          </article> -->
          
          <!--ITEMS MENU CARRITO-->  
          <article class="col-2 row items">              
            <% for (purchase of purchases) { %>
              <div class="container row col-12">
                <p class="col-12 cantidad">  Cantidad: <%=purchase.quantity.toString()%><%=//milesGenerator(laCantidad) %> </p>      
              </div>
              <% } %>
            </article>
            
            <article class="col-8 row items">
              <% for (product of losProductos) { 
                let getDiscountPercentage = discount => (100 - discount) / 100;
                let finalPrice = (product.price * getDiscountPercentage(product.offer_discount)).toFixed(0); 
                %>
                <div class=" col-2">
                <img class="fotoItemCarrito" src="/images/uploads/productDetail/<%=product.image%>" alt="Foto del producto: <%=product.name %>"></div>
                
                <div class="container row col-10">
                  <h5 class="col-8"><%=product.name %></h5>
                  <h6><%=product.stock%></h6>
                  <p class="col-3 precio">$ <%=milesGenerator(finalPrice) %></p>
                  <a class="carrito col-1 trash" href="#"><i class="far fa-trash-alt"></i></a>
                </div>
                <% } %>
              </article>
              
              
              
              
              
              
            </div>
          </section>
          
          
          <div class="container envio">  
            <form class="row envio" action='index.html' method='get'>
              <p class="col-4"><label for=''>Retiro / envio de tu pedido</label></p>
              <p class="col-4"><input type="radio" name='envio' value='S'checked> Retiro en deposito</p>
              <p class="col-4"><input type="radio" name='envio' value='N'> Envio a domicilio</p>
            </form>
          </div>
          
          <div>
            <div class="carritoTotal">
              <h2>$ 100,00 </h2>
            </div>
            <button type="button" class="btn btn-success btn-lg btn-block confirmBuy">Confirmar compra</button>
          </div>
          
        </div>
        
        <!--Include footer -->
        <%- include('partials/footer') %>
        
        <!-- Include End Body Scripts -->
        <%- include('partials/_endBodyScripts') %>
      </body>
      </html>