<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>
  
  <title>CandyShop - Registro</title>
</head>

<body>
  <!--include HEADER-->
  <%- include('partials/header') %>
  
  <div class="container">          
      
      <h1 class="col-md-8 col-mb-12 tituloRegistro">Edita tu Usuario </h1>
  
      <form action="?_method=PUT" method="post" enctype="multipart/form-data" class="container row">
    
        <div class="container row info-Registro">
          <div class=" container col-12">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" name="email" class="form-control col-md-6 col-mb-8" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= elUsuario.email %>">
          </div>

          <div class="container col-12">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" name="password" class="form-control col-md-6 col-mb-8" id="exampleInputPassword1" value="" placeholder="Queres cambiar la contraseña ?">
          </div>

          <div class=" container col-12">            
            <label for="name_fantasy">Nombre Empresa</label>
            <input type="text" name="name_fantasy" class="form-control col-md-6 col-mb-8" id="name_fantasy" aria-describedby="emailHelp" value="<%= elUsuario.name_fantasy %>">          
          </div>

          <!-- PARA TRAER LA PROVINCIA QUE TENIA 
          <div class="labelInput">
            <label for="categorie">Categorias</label>
            <select name="categorie" id="categorie">
                <% //for(i = 0; i < categorias.length; i++) { %>
                    <option
                        value=<%= //categorias[i].id %>
                        <%=// (producto.categorie_id == categorias[i].id) ? "selected" : "" %>><%=//categorias[i].categorie %></option>
                <%// } %>
            </select>
          </div>
          -->

          <div class="province col-12">
            <label for="province" id="province" class="">Provincia</label>
              <select name="province" id="province" class="form-control col-md-6 col-mb-8">
                <option><%= elUsuario.province %></option>
              </select>
          </div>

          <div class="municipality col-12">
            <label for="municipality" id="municipality" class="">Municipio</label>
              <select name="municipality" id="municipality" class="form-control col-md-6 col-mb-8">
                <option><%= elUsuario.municipality %></option>
              </select>
          </div>

          <div class=" container col-12">           
            <label for="location"> Localidad </label>
            <input type="text" name="location" class="form-control col-md-6 col-mb-8" id="location" aria-describedby="emailHelp" value="<%= elUsuario.location %>" placeholder="Completa tu localidad...">           
          </div>
          
          <div class="postal_code container col-12">           
            <label for="postal_code"> Codigo Postal </label>
            <input type="text" name="postal_code" class="form-control col-md-6 col-mb-8" id="postal_code" aria-describedby="emailHelp" value="<%= elUsuario.postal_code %>" disabled placeholder="Completa tu codigo postal...">           
          </div>

          <div class=" container col-12">           
            <label for="adress"> Direccion </label>
            <input type="text" name="adress" class="form-control col-md-6 col-mb-8" id="adress" aria-describedby="emailHelp" value="<%= elUsuario.adress %>">           
          </div>

          <div class=" container col-12">
            <label for="telephone"> Teléfono</label>
            <input type="number" name="telephone" class="form-control col-md-6 col-mb-8" id="telephone" aria-describedby="emailHelp" value="<%= elUsuario.telephone %>">          
          </div>

          <div class=" container col-12">       
            <label for="business_name"> Razón social </label>
            <input type="text" name="business_name" class="form-control col-md-6 col-mb-8" id="business_name" aria-describedby="emailHelp" value="<%= elUsuario.business_name %>">            
          </div>

          <div class=" container col-12">
            <label for="cuit"> CUIT/DNI</label>
            <input type="number" name="cuit" class="form-control col-md-6 col-mb-8" id="cuit" aria-describedby="emailHelp" value="<%= elUsuario.cuit %>">
          </div>

          <div class=" container col-12">    
            <label for="fiscal_condition_id">Condicion fiscal</label>
            <select name="fiscal_condition_id" id="fiscal_condition_id" class="form-control col-md-4 col-mb-6">
              <%for (let i=0; i<fiscalCond.length; i++) { %>
                <option value="<%=fiscalCond[i].id%>" <%=fiscalCheck%>>
                  <%= fiscalCond[i].name%>
                </option>
                <% } %>
              </select>
          </div>
          
          <div class="col-12 botonCargarImg">
            <label for="imgUser" class="col-12">Cargar Imagen</label>
            <input class="file col-md-4 col-mb-6" type="file" name="imgUser" id="imgUser">
          </div>

          <button type="submit" class="btn btn-success btn-lg btn-block botonForm2 col-md-12 mb-12">Confirmar cambios
          </button>
          
        </div>      
      </form>
  </div>
  
  
  <!--Include footer -->
  <%- include('partials/footer') %>
  
  <!-- Include End Body Scripts -->
  <%- include('partials/_endBodyScripts') %>
</body>
</html>