<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>
  
  <title>CandyShop - Registro</title>
</head>

<body>
  <!--include HEADER-->
  <%- include('partials/header') %>
  
  <div class="container">          
      
      <h1 class="col-md-8 col-mb-12 tituloRegistro">Edita tu Usuario </h1>
  
      <form action="/users/registerEdit/<%=elUsuario.id%>" method="post" enctype="multipart/form-data" class="container row">
    
        <div class="container row info-Registro">
          <div class=" container col-6">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= elUsuario.email %>">
          </div>

          <div class="container col-6">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" value="<%= elUsuario.password %>">
          </div>

          <div class=" container col-4">            
            <label for="name_fantasy">Nombre Empresa</label>
            <input type="text" name="name_fantasy" class="form-control" id="name_fantasy" aria-describedby="emailHelp" value="<%= elUsuario.name_fantasy %>">          
          </div>

          <div class=" container col-4">           
            <label for="adress"> Direccion </label>
            <input type="text" name="adress" class="form-control" id="adress" aria-describedby="emailHelp" value="<%= elUsuario.adress %>">           
          </div>

          <div class=" container col-4">
            <label for="telephone"> Teléfono</label>
            <input type="number" name="telephone" class="form-control" id="telephone" aria-describedby="emailHelp" value="<%= elUsuario.telephone %>">          
          </div>

          <div class=" container col-4">       
            <label for="business_name"> Razón social </label>
            <input type="text" name="business_name" class="form-control" id="business_name" aria-describedby="emailHelp" value="<%= elUsuario.business_name %>">            
          </div>

          <div class=" container col-4">
            <label for="cuit"> CUIT/DNI</label>
            <input type="number" name="cuit" class="form-control" id="cuit" aria-describedby="emailHelp" value="<%= elUsuario.cuit %>">
          </div>

          <div class=" container col-4">    
            
            <label for="fiscal_condition_id"> Condicion fiscal // </label>
            <select name="fiscal_condition_id" id="fiscal_condition_id">
              <%for (let i=0; i<fiscalCond.length; i++) { %>
                <option value="<%=fiscalCond[i].id%>" <%=fiscalCheck%>>
                  <%= fiscalCond[i].name%>
                </option>
                <% } %>
                
              </select>

            <!-- <label for="fiscal_condition"> Condicion fiscal </label>
            <input type="text" name="fiscal_condition" class="form-control" id="fiscal_condition" aria-describedby="emailHelp" value="<%= //elUsuario.fiscal_condition %>">               -->
          </div>
          
          <div class= "container col-6">
            <div class="botonCargarImg">
              <label for="imgUser">Cargar Imagen</label>
              <input class="file" type="file" name="imgUser" id="imgUser">
            </div>
          </div>


          <button type="submit" class="btn btn-success btn-lg btn-block botonForm2 col-md-12 mb-12">Confirmar cambios
          </button>
          
        </div>      
      </form>
  </div>
  
  
  <!--Include footer -->
  <%- include('partials/footer') %>
  
  <!-- Include End Body Scripts -->
  <%- include('partials/_endBodyScripts') %>
</body>
</html>