<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>

    <title>CandyShop - Login Usuario</title>
</head>
<body>
      <!--include HEADER-->
  <%- include('partials/header') %>
  
  <!--include Nav Bar 2-->
  <%- include('partials/navBar2') %>

  <div class="container cajaInicioSesion">
    <h2 class="/products"> ¡Ya estas registrado! Ya podes ir viendo nuestros productos!</h2>
    <a href="/products" class="">
        <button type="button" class="btn btn-primary botonAñadirCarrito">Ver productos</button>
    </a>
  </div>

    <!--Include footer -->
  <%- include('partials/footer') %>
  
  <!-- Include End Body Scripts -->
  <%- include('partials/_endBodyScripts') %>
</body>
</html>