<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>
  
  <title>CandyShop - Registro</title>
</head>

<body>
  <!--include HEADER-->
  <%- include('partials/header') %>
  
  <!--include Nav Bar 2-->
  <%- include('partials/navBar2') %>
  
  <div class="container">          
      
      <h1 class="col-md-8 col-mb-12 tituloRegistro">Edita tu Usuario </h1>
  
      <form action="" method="post" enctype="multipart/form-data" class="container row">
    
        <div class="container row info-Registro">
          <div class=" container col-6">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

          <div class="container col-6">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>

          <div class=" container col-4">            
            <label for="nombreEmpresa">Nombre Empresa</label>
            <input type="text" name="nombreEmpresa" class="form-control" id="text" aria-describedby="emailHelp">          
          </div>

          <div class=" container col-4">           
            <label for="direccion"> Direccion </label>
            <input type="text" name="direccion" class="form-control" id="text" aria-describedby="emailHelp">           
          </div>

          <div class=" container col-4">
            <label for="direccion"> Teléfono</label>
            <input type="number" name="telefono" class="form-control" id="text" aria-describedby="emailHelp">          
          </div>

          <div class=" container col-4">       
            <label for="razonSocial"> Razón social </label>
            <input type="text" name="razonSocial" class="form-control" id="text" aria-describedby="emailHelp">            
          </div>

          <div class=" container col-4">
            <label for="direccion"> CUIT/DNI</label>
            <input type="number" name="cuit/dni" class="form-control" id="text" aria-describedby="emailHelp">
          </div>

          <div class=" container col-4">              
            <label for="factura"> Factura </label>
            <input type="text" name="factura" class="form-control" id="text" aria-describedby="emailHelp">              
          </div>
          
          <div class= "btn-group col-6">                 
            <div class= "botonMinYMay">
              <input type="radio" name="valor" value="1" checked> <label for=""> Mayorista</label>
              <input type="radio" name="valor" value="0" > <label for=""> Minorista</label>
            </div>           
          </div>
          
          <div class= "container col-6">
            <div class="botonCargarImg">
              <label for="imagen">Cargar Imagen</label>
              <input class="btn" type="file" name="imgProducto">
            </div>
          </div>

          <button type="submit" class="btn btn-success btn-lg btn-block botonForm2 col-md-12 mb-12">Confirmar cambios
          </button>
          
        </div>      
      </form>
  </div>
  
  
  <!--Include footer -->
  <%- include('partials/footer') %>
  
  <!-- Include End Body Scripts -->
  <%- include('partials/_endBodyScripts') %>
</body>
</html>