  <!DOCTYPE html>
  <html lang="es">
  
  <head>
    <!-- Include Head -->
    <%- include('partials/_contentHead') %>
    
    <title>CandyShop - Registro</title>
  </head>
  
  <body>
    <!--include HEADER-->
    <%- include('partials/header') %>
    
    <div class="container ">          
      
      <h1 class="col-md-8 col-mb-12 tituloRegistro">Registrate como nuevo Usuario</h1>
      
      <form action="" method="post" enctype="multipart/form-data" class="container row">
        
        <div class="container row info-Registro">
          <div class=" container col-12">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" value="<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>" name="email" class="form-control col-md-6 col-mb-8" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : '' %></small>
          </div>
          
          <div class="container col-12">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" value="" name="password" class="form-control col-md-6 col-mb-8" id="exampleInputPassword1">
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password) ? errors.password.msg : '' %></small>
          </div>
          
          <div class="container col-12">            
            <label for="name_fantasy">Nombre Empresa</label>
            <input type="text" name="name_fantasy" class="form-control col-md-6 col-mb-8" id="name_fantasy" aria-describedby="emailHelp">          
          </div>

          <div class="provincia col-12">
            <label for="provincia" id="provincia" class="">Provincia</label>
              <select name="provincia" id="provincia" class="form-control col-md-6 col-mb-8">
                <option hidden>Selecciona una provincia...</option>
              </select>
          </div>

          <div class="municipio col-12">
            <label for="municipio" id="municipio" class="">Municipo</label>
              <select name="municipio" id="municipio" class="form-control col-md-6 col-mb-8" disabled>
                <option hidden>Selecciona una municipio...</option>
              </select>
          </div>
          
          <div class=" container col-12">           
            <label for="adress"> Direccion </label>
            <input type="text" name="adress" class="form-control col-md-6 col-mb-8" id="adress" aria-describedby="emailHelp">           
          </div>
          
          <div class=" container col-12">
            <label for="telephone"> Teléfono</label>
            <input type="number" name="telephone" class="form-control col-md-4 col-mb-6" id="telephone" aria-describedby="emailHelp">          
          </div>
          
          <div class=" container col-12">       
            <label for="business_name"> Razón social </label>
            <input type="text" name="business_name" class="form-control col-md-4 col-mb-6" id="business_name" aria-describedby="emailHelp">            
          </div>
          
          <div class=" container col-12">
            <label for="cuit"> CUIT/DNI</label>
            <input type="number" name="cuit" class="form-control col-md-4 col-mb-6" id="cuit" aria-describedby="emailHelp">
          </div>
          
          <div class="container col-12">              
            <label for="fiscal_condition_id">Condicion fiscal</label>
            <select name="fiscal_condition_id" id="fiscal_condition_id" class="form-control col-md-4 col-mb-6">
              <%for (let i=0; i<fiscalCond.length; i++) { %>
                <option value="<%=fiscalCond[i].id%>">
                  <%= fiscalCond[i].name%>
                </option>
                <% } %>
                
            </select>
              <!-- <input type="text" name="fiscal_condition" class="form-control" id="fiscal_condition" aria-describedby="emailHelp">               -->
          </div>
            
          
            <div class="col-12 botonCargarImg">
              <label for="imgUser" class="col-12">Cargar Imagen</label>
              <input class="btn btn-succes file col-md-4 col-mb-6" type="file" name="imgUser" id="imgUser">
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block botonForm2 col-md-12 mb-12">Crear usuario    
            </button>
          
                        
        </div>      
      </form>
    </div>
            
      <!--Include footer -->
      <%- include('partials/footer') %>
      
      <!-- Include End Body Scripts -->
      <%- include('partials/_endBodyScripts') %>
    </body>
    </html>