<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>

    <title>Usuario</title>
</head>
<body>
      <!--include HEADER-->
  <%- include('partials/header') %>
  
  <!--include Nav Bar 2-->
  <%- include('partials/navBar2') %>


    
    <h1>Este es tu usuario</h1>



    <!--Include footer -->
  <%- include('partials/footer') %>
  
  <!-- Include End Body Scripts -->
  <%- include('partials/_endBodyScripts') %>
</body>
</html>