<header class="fixed-top">
  <div class="masterContain container-fluid">
    <div class="firstDivRow row">
      <nav class="navbar navbar-expand-lg navbar-light container">
        
        <!-- LOGO CANDYSHOP-->
        <div class="containLogo col-12 col-sm-6 col-lg-4">
          <a class="col-12" href="/"><img src="/images/logo/logo-01.svg" alt=""></a>     
        </div> <!-- /.containLogo -->
        
        <!--SEARCH BAR-->
        <div class="containSearch col-12 col-sm-6 col-lg-4">
          <form action="/search<%= (typeof query != 'undefined') ? '?find=' + query : null %>" method="GET" class="search-form">
            <input type="text" name="find" placeholder="Buscá tus candy's" class="search-form_input">
            <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
          </form>
        </div> <!-- /.containSearch -->

       


        <!-- <form action="/product/search<%=// (typeof consulta != 'undefined') ? '?buscar=' + consulta : null %>" class="header-nav__form" method="GET">
          <input class="search-input" type="text" name="buscar" id="" placeholder="Buscar productos, marcas y más">
          <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
      </form> -->









        
        <!--BOTONES DERECHA-->
        <div class="containButtons col-12 col-sm-12 col-lg-4">
          <!--MENU DROP TU CUENTA-->
          <ul class="headerButtons nav nav-pills">
            <li class="categDropDown nav-item dropdown">
              <a class="categDropDn nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> TU CUENTA</a>
              <div class="categDropMenu dropdown-menu">
                <a class="dropdown-item
                <%if (!sessVerify){%>
                  <%='d-none'%>
                    <%}%>
                " href="/users"><i class="fas fa-user-cog"></i> MI CUENTA</a>



                <a class="dropdown-item
                <%if (!adminVerify){%>
                    <%="d-none"%>
                    <%}%>
                " href="/users/listUsersForAdmin"><i class="fas fa-wrench"></i> CUENTAS REGISTRADAS</a>


            

                <a class="dropdown-item
                <%if (sessVerify){%>
                  <%='d-none'%>
                    <%}%>
                " href="/users/login"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
                <a class="dropdown-item
                <%if (sessVerify){%>
                  <%='d-none'%>
                    <%}%>
                " href="/users/register"><i class="fas fa-money-check"></i>   REGISTRATE</a>
                <!-- <a class="dropdown-item" href="/users/registerEdit"> <i class="fas fa-cog"></i> Modificar perfil</a> Se modifica desde la vista user.ejs -->
                <div class="dropdown-divider
                <%if (!adminVerify){%>
                    <%="d-none"%>
                    <%}%>
                "></div>
                <a class="dropdown-item 
                <%if (!adminVerify){%>
                    <%="d-none"%>
                    <%}%>
                " href="/products/create"><i class="fas fa-clipboard-check"></i> Carga productos</a>
                <a class="dropdown-item
                <%if (!adminVerify){%>
                    <%="d-none"%>
                    <%}%>
                    " href="/products/allProductsModify"><i class="fas fa-clipboard-check"></i> Modificar productos</a>
                <div class="dropdown-divider
                <%if (!sessVerify){%>
                  <%='d-none'%>
                    <%}%>
                "></div>
                <a class="dropdown-item
                <%if (!sessVerify){%>
                  <%='d-none'%>
                    <%}%>
                " href="/users/logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
              </div> <!-- /.categDropMenu -->
            </li> <!-- /.categDropDown -->
            
            <li class="liFixed liCarrito nav-item">
              <a class="nav-link
              <%if (!sessVerify){%>
                  <%="d-none"%>
                  <%}%>
              " href="/sales/purchase"><i class="fas fa-shopping-cart"></i> Carrito</a>
            </li> <!-- /.liCarrito -->

          </ul> <!-- /.headerButtons -->
        </div> <!-- /.containButtons -->
        
      </nav> <!-- /.navbar -->
    </div> <!-- /.firstDivRow -->
  </div> <!-- /.masterContain --> 
  <!--include Nav Bar 2-->
  <%- include('navBar2') %>

  <script src="/js/header.js"></script>
  
</header>
<div id="offset"></div>





<!-- HAMBURGUESA
  <div class="burger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    </div>
  </div> -->