<!-- NAVBAR SECUNDARIA-->
<nav class="navBar2 container-fluid">
  <div class="nav-sec container">
    
    <!-- MENU DROP-->
    <ul class="ulMenuDrop nav nav-pills">
      
      <%let comparaUrl = originalUrl == '/products/category/1/' || originalUrl == '/products/category/2/' || originalUrl == '/products/category/3/' || originalUrl == '/products/category/4/' || originalUrl == '/products/category/5/' || originalUrl == '/products/category/6/' || originalUrl == '/products/category/1/offer' || originalUrl == '/products/category/2/offer' || originalUrl == '/products/category/3/offer' || originalUrl == '/products/category/4/offer' || originalUrl == '/products/category/5/offer' || originalUrl == '/products/category/6/offer' || originalUrl == '/products/category/1/cheeky' || originalUrl == '/products/category/2/cheeky' || originalUrl == '/products/category/3/cheeky' || originalUrl == '/products/category/4/cheeky' || originalUrl == '/products/category/5/cheeky' || originalUrl == '/products/category/6/cheeky'%>
      
      
      
      <!-- CATEGORIAS DESPLEGABLE -->
      <li class="categDropDown nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIAS </a>
        <div class="categDropMenu dropdown-menu">
          <a class="nav-link" href="/products/" id="allProd2NavBar2"><i class="fas fa-award"></i> TODOS los productos</a> 
          <div class="dropdown-divider" id="allProd2NavBar2"></div>
          <a class="dropdown-item" href=
          <%if (comparaUrl){%>
            <%="offer"%>
            <% } else { %>
              <%="/products/offer"%>
              <%}%>
              ><i class="fas fa-tag"></i> Ofertas</a>
              <a class="dropdown-item" href=
              <%if (comparaUrl){%>
                <%="cheeky"%>
                <% } else { %>
                  <%="/products/cheeky"%>
                  <%}%>
                  ><i class="fas fa-fire-alt"></i> Destacados</a>
                  <!-- <a class="dropdown-item" href="#">Ultimos visitados</a> -->
                  <div class="dropdown-divider"></div>
                  <%for (let i=0; i<lasCategorias.length; i++) { %>
                    <a class="theCategoryList dropdown-item" href="/products/category/<%=lasCategorias[i].id%>/"><%= lasCategorias[i].name%></a>
                    <% } %>
                  </div> <!-- /.categDropMenu -->
                </li> <!-- /.categDropDown -->
                
                <!-- CATEGORIAS FIJAS -->
                <li class="liFixed liProducts nav-item">
                  <a class="nav-link" href="/products/" id="allProdNavBar2"><i class="fas fa-award" ></i> Todos los productos</a> 
                </li>
                <!-- /.liProducts -->
                
                <li class="liFixed liOffer nav-item">
                  <a class="nav-link" href="/products/offer" id="offerNavBar2"><i class="fas fa-tag"></i> Ofertas</a>
                </li>
                
                <li class="liFixed liCheeky nav-item">
                  <a class="nav-link" href="/products/cheeky" id="cheekyNavBar2"><i class="fas fa-fire-alt"></i> Destacados</a>
                </li>
                <!-- /.liOffer -->
                
                <!-- <li class="liFixed liPromotions nav-item">
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-fire-alt"></i> Promociones</a>
                </li> --> 
                <!-- /.liPromotions -->
                
                <!-- /.liPromotions -->
                
              </ul> <!-- /.ulMenuDrop -->
            </div> <!-- /.nav-sec -->
          </nav> <!-- /.navBar2 -->
          